<div class="container">
<% if flash[:notice] %>
  <p class="create-success"><%= flash[:notice] %></p>
<% end %>
</div>

<div class="container">
  <div class="row">
  		
  		<div class="col-lg-4">
			<div class="profile">
	    	<h1>User info</h1>
				<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-rounded pull-left profile-thumb", fallback: "/images/no_image.jpg"%>
				<table class="table">
					<tbody>
						<tr>
							<th>name</th>
							<th><%= @user.name %></th>
						</tr>
						<tr>
							<th>introduction</th>
							<th><%= @user.profile_text %></th>
						</tr>
					</tbody>
				</table>
			
				<% if @user == current_user %>
					<%= link_to edit_user_path(current_user.id), class: "btn btn-default btn-lg btn-block edit_user_#{@user.id}" do %>
						<i class="glyphicon glyphicon-wrench"></i>
					<% end %>
				<% else %>
					<%= link_to user_path(current_user), class: "btn btn-default btn-lg btn-block user_#{@user.id}" do %>
						<i class="glyphicon glyphicon-wrench"></i>
					<% end %>
				<% end %>

			</div>
			<div class="newbook"></div>
			<h1>New Book</h1>
			<%= form_for(@book) do |f| %>
				<h4>Title</h4>
			 	<%= f.text_field :title, class: " book_title col-lg-12" %>
			 	<h4>Opinion</h4>
			 	<%= f.text_area :body, class: "book_body col-lg-12" %>
			 	<%= f.submit "Create Book", class: "btn btn-primary btn-block " %>
	 	  <% end %>

		</div>

				<!-- 自分の投稿一覧 -->
		<div class="col-lg-8">
			<div class="main">
				<div class="index">
					<table class="table">
						<h1>Books</h1>
						<thead>
							<th></th>
							<th>Title</th>
							<th>Opinion</th>
						</thead>
						<% @books.each do |book| %>
						<tbody>
							<td>
								<%= link_to user_path(book.user.id), class: "user_#{@user.id}" do %>
									<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-rounded pull-left profile-thumb", fallback: "/images/no_image.jpg", size: '30x30' %>
									<%= book.user.name %>
								<% end %>
							</td>
							<td>
								<%= link_to book_path(book.id), class: "book_#{book.id}", method: :get do %>
									<%= book.title %>
								<% end %>
							</td>
							<td><%=book.body%></td>
						</tbody>
						<% end %>
					</table>
	   		</div>
   		</div>
		</div>

	</div>
</div>